<style media="screen">
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        margin-top: 20px;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        max-width: 60%;
        margin: 0 auto;
    }
    nav ul li a {
        color: inherit;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0);
        transition: 0.3s ease-in-out;
    }
    nav ul li a:hover {
        color: #666;
        border: 1px solid #ccc;
        text-decoration: underline;
    }
    footer {
        font-size: .8rem;
    }
</style>

<header>
    {{> navigation}}
    <h1>{{pageTitle}}</h1>
</header>
