<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <h2>Here we will list some projects</h2>
    {{> footer}}
    <script type="text/javascript">
        const warning = document.querySelector('#warning');
         console.warn('## warning', warning);
         setTimeout(() => {
            warning.style.color="red";
            warning.style.fontSize="30px";
        }, 1500);
    </script>
</body>
</html>
